* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

.container-center {
  background-image: linear-gradient(purple, rgb(233, 58, 58));
  height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
  width: 700px;
  min-width: 600px;
  min-height: 400px;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: content-box;
  z-index: 1000;
}

.input-btn {
  border: 1px solid black;
  background-color: aquamarine;
  padding: 5px 15px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.input-btn img {
  object-fit: contain;
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
}

.input-btn::after {
  content: "Select Image";
}

#photoInput {
  display: none;
}

.preview-section {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 15px;
  resize: both;
}

.photo-preview,
.puzzle {
  border: 2px dotted blueviolet;
  flex: 1;
  user-select: none;
  padding: 5px;
}

.photo-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 340px;
  width: 330px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.puzzle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
}

.slice {
  border: 2px solid green;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  animation: scaleTransition 0.2s 1;
}

.slice img {
  object-fit: fill;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(3);
  visibility: hidden;
  z-index: -100;
}

.slice1 img {
  translate: 100% 100%;
}
.slice2 img {
  translate: 0% 100%;
}
.slice3 img {
  translate: -100% 100%;
}
.slice4 img {
  translate: 100% 0%;
}
.slice5 img {
  translate: 0% 0%;
}
.slice6 img {
  translate: -100% 0%;
}
.slice7 img {
  translate: 100% -100%;
}
.slice8 img {
  translate: 0% -100%;
}
.slice9 img {
  translate: -100% -100%;
}

.info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  opacity: 0.7;
}

.suffle-btn {
  border-radius: 5px;
  box-sizing: content-box;
  background-color: greenyellow;
  padding: 3px 28px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1.1px;
  cursor: pointer;
}

@media (min-width: 1400px) {
  .container {
    width: 1000px;
    min-height: 600px;
    border-width: 5px;
    padding: 20px 50px;
  }

  .photo-preview,
  .puzzle {
    height: 500px;
    width: 500px;
    border-width: 4px;
  }

  .photo-preview {
    font-size: 2.1rem;
  }

  .puzzle {
    gap: 2px;
  }

  .slice {
    border-width: 3px;
  }

  .input-btn {
    border-width: 2px;
    padding: 5px 18px;
    border-radius: 7px;
    font-size: 1.5rem;
  }
  .input-btn img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 10px;
  }

  .info {
    font-size: 1.4rem;
  }

  .suffle-btn {
    border-radius: 7px;
    padding: 6px 40px;
    font-size: 1.6rem;
    letter-spacing: 1.7px;
  }
}

.dragging {
  transform: scale(1);
}

@keyframes scaleTransition {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
